<div class="block">
  <h3>Simple Block</h3>
  <div class="content">
  <div id="images">
    <div><p>This is a slide!</p></div>
    <div><a href="http://google.com"><img src="/images/3.jpg" height="200" width="200" alt="Google Logo" /></a></div>
	<div><a href="http://yahoo.com"><img src="/images/2.jpg" height="200" width="200" alt="Google Logo" /></a></div>
	 
</div>
   
</div>
 
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "articles", articles_path %></li>
    <li><%= link_to "songs", mp3s_path %></li> 
	<li><%= link_to "albums", albums_path %></li>
  </ul>
</div>